@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mother-box {
    display: flex;
    flex: 1;
}

#title {
    font-size: 40px;
    color: #143371;
}

.sidebar {
    min-width: 350px;
    width: 40%;
    background-color: #C2C2C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/greek-backgroud.jpg');
    background-size: cover;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    height: max(20%, 150px);
    background: rgba(255, 255, 255, 0.4);
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.logo {
    height: 150px;
    width: 180px;
}

.content-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 2vh;
    padding: 40px;
}

.content-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    background-color: #F9F9F8;
}

.header-text, .form-header {
    font-size: 25px;
    min-width: 200px
}

.middle-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-box {
    box-shadow: 10px 12px 10px 1px #DBDBD9;
    border-top: 2px solid #F9F9F8;
    background-color: #Fff;
    gap: 0px;
    padding: 40px;
}

.form {
    max-width: 650px;
    min-height: 220px;
}

fieldset {
    border: 0;
}

.form1,
.form2,
.form3 {
    display: flex;
    gap: 35px;
    width: 290px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

input:invalid {
    border-color: red;
  }

.ipt-btn {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    height: 36px;
    font-size: 1.3rem;
}

.ipt-btn:focus {
    border: #235CA6;
}

label, 
#form-header {
    font-weight: bolder;
}

#form-header {
    font-size: 25px;
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0 0 10px;
    background-color: #F9F9F8;
    width: 300px;
}

#create-account {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background-color: #4691ce;
}

#ref, #ref-link {
    color: #000;
    margin-top: auto;
}

#login {
    text-decoration: none;
    color: #596D48;
}

@media only screen and (max-width: 768px){
    .mother-box {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .sidebar {
        width: 100%;
        background-position: center;
    }

    .logo {
        height: 0;
        width: 0;
    }

    .logo-box {
        margin-top: 50px;
    }

    .form1,
    .form2,
    .form3 {
        flex-direction: column;
        gap: 0;
    }

    .content-header {
        margin-top: 0;
    }
}